<!DOCTYPE html>
<html>
<head>
  <title>MngCampaigner</title>
  <%= stylesheet_link_tag    "mng_campaigner/application", media: "all" %>
  <%= javascript_include_tag "mng_campaigner/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
